.wrapper {
  padding: 5px;
}
.formFields {
  margin-bottom: 15px;
}
.checkboxLabel {
  margin: 0 5px;
}
.checkboxLabel input {
  display: block;
  margin: auto;
}
.inputHeader {
  display: block;
  font-weight: bold;
}
.required {
  line-height: 32px;
  margin-left: 10px;
  color: #800;
  font-weight: bold;
}
