.inputHeader {
  display: block;
  font-weight: bold;
  margin: 0;
}
input,
select {
  margin-bottom: 10px;
}
.required {
  line-height: 32px;
  margin-left: 10px;
  color: #800;
  font-weight: bold;
}
